
.wrapper {
    max-width: 1920px;

}

.car-container {;
    max-width: 1200px;
    margin: 0 auto;
}

.car__body {
    position: absolute;
    background: url("../img/drive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
}

.car__block {
    position: relative;
    top: 200px;
    left: 150px;
}

.car-downside {
    width: 740px;
    height: 200px;
    border: black 3px solid;
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);
    border-top-left-radius: 55%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 10%;
    position: relative;
    margin-top: 350px;
}

.car__light {
    width: 70px;
    height: 60px;
    border: 3px solid black;
    border-radius: 45%;
    background-color: #ebf629;
    transform: translate(-10px, 85px);
}

.car__light-back {
    width: 50px;
    height: 70px;
    border: 3px solid black;
    border-radius: 25%;
    background: rgb(216, 212, 209);
    background: linear-gradient(0deg, rgba(216, 212, 209, 1) 41%, rgba(206, 74, 8, 1) 96%);
    transform: translate(690px);
}

.car__door {
    width: 243px;
    height: 200px;
    border: black 3px solid;
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(270px, -136px);
}

.car__lock {
    width: 50px;
    height: 20px;
    border: black 3px solid;
    background-color: grey;
    border-radius: 20px;
    transform: translate(160px, 20px);
}

.car__wheel {
    width: 150px;
    height: 150px;
    background: rgb(218, 208, 218);
    background: radial-gradient(circle, rgba(218, 208, 218, 1) 0%, rgba(15, 15, 15, 0.9809173669467787) 51%);
    border-radius: 50%;
    transform: translate(60px, -220px);
}

.car__disk {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-radius: 50%;
    box-shadow: -15px -15px 0 0 white,
    15px 15px 0 0 white,
    -15px 15px 0 0 white,
    15px -15px 0 0 white,
    0 -20px 0 0 white,
    0 20px 0 0 white,
    20px 0 0 0 white,
    -20px 0 0 0 white;
    transform: translate(70px, 70px);
}

.car__disk-back {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-radius: 50%;
    box-shadow: -15px -15px 0 0 white,
    15px 15px 0 0 white,
    -15px 15px 0 0 white,
    15px -15px 0 0 white,
    0 -20px 0 0 white,
    0 20px 0 0 white,
    20px 0 0 0 white,
    -20px 0 0 0 white;
    transform: translate(70px, 70px);
}

.car__wheel-back {
    width: 150px;
    height: 150px;
    background: rgb(218, 208, 218);
    background: radial-gradient(circle, rgba(218, 208, 218, 1) 0%, rgba(15, 15, 15, 0.9809173669467787) 51%);
    border-radius: 50%;
    transform: translate(470px, 0);
}

.car-upside {
    width: 277px;
    height: 170px;
    border: black 3px solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 40px;
    transform: perspective(150px) rotateX(46deg);
    position: absolute;
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);
    margin: -375px 0 0 367px;
}

.car__window {
    width: 200px;
    height: 150px;
    position: relative;
    border: black 3px solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 40px;
    margin: -360px 0 450px 390px;
    transform: perspective(150px) rotateX(46deg);
    background: rgb(41, 172, 221);
    background: linear-gradient(325deg, rgba(41, 172, 221, 1) 0%, rgba(124, 211, 244, 0.7008053221288515) 44%, rgba(212, 237, 251, 1) 100%);
}

.car__mirror {
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);
    height: 40px;
    width: 50px;
    border: 3px solid black;
    border-radius: 100% 0 100% 100%;
    transform: rotate(180deg) translate(37px, -100px);
    position: absolute;
    top: 13px;
    left: 0;
}

.car__side {
    width: 40px;
    height: 118px;
    border: black 3px solid;
    transform: translateX(470px) translateY(-565px);
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);

}