@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

.game {
    max-width: 600px;
    margin: 100px auto 100px;
    font-family: 'Inter', sans-serif;
    font-size: 0;
}

.game-logo {
    width: 200px;
    min-height: 150px;
}

.game-info {
    text-align: right;;
}

.circle-block {
    display: inline-block;
}

.game-block {
    background: linear-gradient(0deg, rgba(188, 195, 34, 1) 0%, rgba(45, 48, 253, 0.9915615904564951) 100%);
}

.game-title {
    color: darkblue;
    font-size: 40px;
    font-weight: 800;
}

.winner-title {
    font-size: 30px;
    font-weight: 600;
}

.game-text {
    color: #a09d2a;
    font-size: 20px;
    font-weight: 400;
}

.circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: linear-gradient(0deg, rgba(188, 195, 34, 1) 0%, rgba(45, 48, 253, 0.9915615904564951) 100%);
    opacity: 0;
}

.circle:hover {
    background: url("../img/practice/winner.webp");
    opacity: 1;
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(1) {
    background: url("../img/practice/zrada.png");
    transition: 0.8s;

}

.circle-block:hover .circle:nth-child(12) {
    background: url("../img/practice/zrada.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(15) {
    background: url("../img/practice/zrada.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(24) {
    background: url("../img/practice/zrada.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(29) {
    background: url("../img/practice/zrada.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(36) {
    background: url("../img/practice/zrada.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(9) {
    background: url("../img/practice/peremoha.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(14) {
    background: url("../img/practice/peremoha.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(20) {
    background: url("../img/practice/peremoha.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(27) {
    background: url("../img/practice/peremoha.png");
    transition: 0.8s;
}

.circle-block:hover .circle:nth-child(31) {
    background: url("../img/practice/peremoha.png");
    transition: 0.8s;
}


