@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');


@font-face {
    font-family: 'Inter', sans-serif;
    src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lora', sans-serif;
    src: url("../fonts/Lora-SemiBold.woff2") format("woff2"),
    url("../fonts/Lora-SemiBold.woff") format("woff");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}


/* Стилі до блоків з макету */
body {
    font-family: "Poppins", sans-serif;
}

.title {
    color: #37393F;
    font-size: 30px;
    font-weight: 600;
}

.sub-title {
    color: #6B77E5;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    word-wrap: break-word;
}

.text {
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.4;
    word-wrap: break-word;
}

.project-title {
    color: #37393F;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    word-wrap: break-word;
}

.project-list-first {
    color: #37393F;
    font-weight: 500;
    line-height: 1.6;
    word-wrap: break-word;

}

.project-list-second {
    color: #7D7D7D;
    font-weight: 500;
    line-height: 1.6;
    word-wrap: break-word;
}


/* Стилі до нової статті */
.second-task {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    text-indent: 10px;
}

.header {
    color: #1B5C4C;
    font-family: "Lora", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    line-height: 2.4;
    text-align: center;

}

.intro {
    color: #113B30;
    font-weight: 600;
    text-align: center;
    line-height: 2.0;

}

.intro-title {
    text-transform: uppercase;
    font-size: 60px;
}

.intro-sub-title {
    font-size: 40px;
    text-transform: capitalize;
    word-spacing: 10px;
}

.courses-title {
    font-weight: 500;
    font-size: 30px;
    color: #37393F;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 3px 3px #AFB4B3;
}

.courses-sub-title {
    font-size: 20px;
    font-family: "Lora", sans-serif;
    font-weight: 600;
}

.courses-list,
.camp-list {
    color: #3F6A60;
    text-decoration: underline;
    font-weight: 500;
}

.courses-pic {
    width: 900px;
    height: 500px;
}

.courses-price {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #EA4335;
}

.old-price {
    text-decoration: line-through;
}

.footer-contacts {
    font-weight: 500;
    font-size: 20px;
    color: #37393F;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px #AFB4B3;
}