
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap');

header,
footer {
    color: #FFFFFF;
}

/* Перший блок */
.jewellery-task {
    background-color: #0E333D;
    color: #FFFF;
    line-height: 1.2;
    margin-bottom: 94px;
}

.jewellery-task__container {
    margin: 0 auto;
    max-width: 1203px;
    width: 100%;
    padding: 15px;
}

.jewellery-task__body {
    text-align: center;
    margin-bottom: 34px;
}

.jewellery-task__title {
    font-family: 'DM Serif Text', sans-serif;
    font-size: 48px;
    margin-bottom: 34px;
}

.jewellery-task__subtitle {
    color: #EBEBEB;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.jewellery-task__types {
    display: flex;
    justify-content: center;
    margin-bottom: 77px;
}

.jewellery-task__list {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 41px;
}

.jewellery-task__link:hover {
    text-decoration: underline;
}

.cards-jewellery__img {
    margin-bottom: 17px;
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.cards-jewellery__link:hover img {
    transform: translate3d(-5px, -5px, 0);
    opacity: 0.8;
    transition: all 0.6s ease-in-out;
}

.cards-jewellery__name {
    margin-bottom: 12px;
}

.cards-jewellery__link {
    margin: auto;
}

.cards-jewellery__items {
    display: flex;
    gap: 47px;
    font-family: 'Cormorant Infant', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.jewellery__cards {
    margin-bottom: 88px;
}

.jewellery-task--light {
    background-color: #FFF;
}

@media (max-width: 1100px) {
    .cards-jewellery__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cards-jewellery__item {
        flex: 0 0 33%;
    }
}

/*  Другий блок */
.jewellery-task--light {
    margin-bottom: 125px;
}
.jewellery-task__title--dark {
    color: #291403;
    font-family: 'DM Serif Text', sans-serif;
    font-size: 58px;
}
.jewellery-task__subtitle--dark {
    color: #818181;
    font-family: 'Cormorant Infant', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.cards-jewellery__items--dark {
    color: #000;
}

.jewellery-task__more {
    display: flex;
    justify-content: center;
}

.jewellery-task__button {
    padding: 12px 42px;
    background: #FF7A49;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.jewellery-task__button:hover {
    background-color: #FC9977FF;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 960px) {
    .cards-jewellery__item {
        flex: 0 0 50%;

    }
}

/* Третій блок */
.products {
    line-height: 1.2;
    position: relative;
   margin-bottom: 114px;
}

.products::before {
    content: "";
    width: 171px;
    height: 385px;
    position: absolute;
    right: 0;
    bottom: -15px;
    background: url(../img/Jewellery/product-pop.png) center / cover no-repeat;
    transform: scaleX(1) rotate(360deg);
    transition: opacity 0.4s;
}

.products__container {
    margin: 0 auto;
    max-width: 1203px;
    padding: 15px;
}

.products__body {
    margin-bottom: 59px;
}

.products__subtitle {
    color: #606060;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

.cards-jewellery__name--product {
    color: #000;
    font-family: 'DM Serif Text', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}
.cards-jewellery__name--product:not(:last-child) {
    margin-right: 49px;
}
.products__description {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.products__links {
    display: flex;
    justify-content: space-between;
}
.products__link {
    color: #F55529;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
}
.cards-jewellery__items--product {
    display: flex;
    flex-wrap: wrap;

}

.cards-jewellery__item--product {
    flex: 0 0 29%;
}

@media (max-width: 1480px) {
    .cards-jewellery__items--product {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cards-jewellery__item--product {
        flex: 0 0 50%;
    }

    .products::before {
        display: none;
    }
}

/* Четвертий блок */
.business {
    display: flex;
    color: #FEFAF4;
    margin-bottom: 114px;
}

.business__left {
    background-color: #37393F;
    flex: 0 0 60%;
}

.business__body {
    max-width: 640px;
    margin: 0 auto;
    padding: 15px;
}

.business__hut-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.business__hut-title h5 {
    margin-left: 18px;
}

.business__hut {
    margin-bottom: 36px;
}

.business__hut-title::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
    position: absolute;
}

.business__title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 26px;
}

.business__text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.business__cards {
    display: flex;
    gap: 15px;
    margin-bottom: 46px;
}

.business__item {
    background-color: rgba(46, 47, 52, 0.61);
    padding: 27px 30px;
    flex:0 0 50%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.business__item-info {
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    align-items: flex-start;
}

.business__item-name {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

.business__item-description {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.business__info {
    display: flex;
    gap: 37px;
}

.business__clients-number {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 46px;
}

.business__clients-number::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 27px;
    height: 27px;
    background: url(../img/Consulting/point.svg) center / contain no-repeat;
}

.business__clients-mark {
    color: #FFB342;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.business__clients-mark img {
    vertical-align: middle;
}

.business__clients-info {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.business__clients-link {
    color: #40DDB6;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px #40DDB6 solid;
}

.business__right {
    flex: 0 0 40%;
    background: url("../img/Consulting/consulting-team.jpg") right / cover no-repeat;
}

@media (max-width: 1680px) {
    .business__left {
        background-color: #37393F;
        flex: 0 0 100%;
    }

    .business__body {
        margin: 0 auto;
    }

    .business__right {
        display: none;
    }
}

@media (max-width: 1010px) {
    .business__cards {
        flex-wrap: wrap;
    }

    .business__info {
        flex: 0 0 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .business__item {
        flex: 0 0 100%;
    }
}