@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');


/*  Практика  */
.practice {
    max-width: 1220px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    text-align: center;
    margin: 0 auto 150px auto;
}

.practice-container {
    width: 900px;
}

.practice__text {
    color: #6A5953;
    font-size: 16px;
    line-height: 1.2;
    padding: 20px;
}

.blocks {
    display: inline-block;
    font-size: 0;
}

.block {
    margin: 100px 50px 40px 0;
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 100px;

}

.first {
    transition: margin-right 1s ease-in-out;
}

.first:hover {
    margin-right: 40px;
}

.second {
    transition: margin-left 1s linear;
}

.second:hover {
    margin-left: 40px;
}

.third {
    transition: all 0.5s ease-in;
}

.third:hover {
    border-radius: 50%;
}

.fourth {
    transition: all 2s ease-out;
}

.fourth:hover {
    transform: scale(1.5);
}

.fifth {
    position: relative;
    height: 120px;
}

@keyframes top {
    from {
        top: 0;
    }

    to {
        top: 100px;
        background: rgba(255, 68, 0, 0.4);
    }

}

.fifth {
    animation: top 3s ease-in infinite;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

.sixth {
    animation: rotate 2s linear;
    animation-iteration-count: 3;
}

.seventh {
    height: 120px;
}

@keyframes blue {
    from {
        margin-right: 0;
    }

    to {
        margin-right: 50px;
        background: rgba(0, 128, 255, 0.4);
    }

}

.seventh {
    animation: blue 2s linear infinite;
    animation-direction: reverse;
}

.eighth {
    height: 120px;
    position: relative;
    border-radius: 50%;
}

@keyframes ball {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

.eighth {
    animation: ball 2s ease-out infinite;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.first,
.fourth,
.seventh {
    background: rgba(97, 135, 86, 0.4);
}

.second,
.fifth,
.eighth {
    background: rgba(0, 152, 246, 0.4);
}

.third,
.sixth {
    background: rgba(255, 0, 242, 0.4);
}



