
.car-container {
    max-width: 1920px;
}

.car__body {
    position: absolute;
    background: url("../img/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    min-height: 865px;
}

.car__person {
    width: 160px;
    height: 130px;
    position: relative;
    top: 600px;
    left: 487px;
}

@keyframes pedestrian {
    100% {
        transform: translateY(140px)
    }
}

.car__person {
    animation: pedestrian linear 8s forwards;
    animation-delay: 13s;
    animation-iteration-count: 1;
}

.car__block {
    position: absolute;
    bottom: -60px;
    right: -230px;
    transform: scale(45%);
}

@keyframes start {
    100% {
        right: 1800px
    }


}

.car__block {
    animation: start linear 9s forwards;
    animation-iteration-count: 1;
}

.car-downside {
    width: 740px;
    height: 200px;
    border: black 3px solid;
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);
    border-top-left-radius: 55%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 10%;
    position: relative;
    bottom: -520px;
    left: 0;
}

.car__light {
    width: 70px;
    height: 60px;
    border: 3px solid black;
    border-radius: 45%;
    background-color: #ebf629;
    transform: translate(-10px, 85px);
}

.car__light-back {
    width: 50px;
    height: 70px;
    border: 3px solid black;
    border-radius: 25%;
    background: rgb(216, 212, 209);
    background: linear-gradient(0deg, rgba(216, 212, 209, 1) 41%, rgba(206, 74, 8, 1) 96%);
    transform: translate(690px);
}

.car__door {
    width: 243px;
    height: 200px;
    border: black 3px solid;
    background: url("../img/taxi.png");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(270px, -136px);
}

.car__lock {
    width: 50px;
    height: 20px;
    border: black 3px solid;
    background-color: grey;
    border-radius: 20px;
    transform: translate(160px, 20px);
}

.car__wheel {
    width: 150px;
    height: 150px;
    background: rgb(218, 208, 218);
    background: radial-gradient(circle, rgba(218, 208, 218, 1) 0%, rgba(15, 15, 15, 0.9809173669467787) 51%);
    border-radius: 50%;
    transform: translate(60px, -220px);
    position: relative;
    top: -190px;
    left: 80px;
}

@keyframes wheel-rotate {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg);
    }

}

.car__wheel {
    animation: wheel-rotate 2s infinite linear;
}

.car__disk {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-radius: 50%;
    box-shadow: -15px -15px 0 0 white,
    15px 15px 0 0 white,
    -15px 15px 0 0 white,
    15px -15px 0 0 white,
    0 -20px 0 0 white,
    0 20px 0 0 white,
    20px 0 0 0 white,
    -20px 0 0 0 white;
    transform: translate(70px, 70px);
}

.car__disk-back {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-radius: 50%;
    box-shadow: -15px -15px 0 0 white,
    15px 15px 0 0 white,
    -15px 15px 0 0 white,
    15px -15px 0 0 white,
    0 -20px 0 0 white,
    0 20px 0 0 white,
    20px 0 0 0 white,
    -20px 0 0 0 white;
    transform: translate(70px, 70px);
}

.car__wheel-back {
    width: 150px;
    height: 150px;
    background: rgb(218, 208, 218);
    background: radial-gradient(circle, rgba(218, 208, 218, 1) 0%, rgba(15, 15, 15, 0.9809173669467787) 51%);
    border-radius: 50%;
    transform: translate(470px, 0);
    position: relative;
    top: -335px;
    left: 485px;
}

@keyframes back-rotate {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg);
    }

}

.car__wheel-back {
    animation: back-rotate 2s infinite linear;
}


.car-upside {
    width: 277px;
    height: 170px;
    border: black 3px solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 40px;
    transform: perspective(150px) rotateX(46deg);
    position: relative;
    bottom: -138px;
    left: 360px;
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);

}

.car__window {
    width: 200px;
    height: 150px;
    position: relative;
    border: black 3px solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 40px;
    bottom: 10px;
    left: 384px;
    transform: perspective(150px) rotateX(46deg);
    background: rgb(41, 172, 221);
    background: linear-gradient(325deg, rgba(41, 172, 221, 1) 0%, rgba(124, 211, 244, 0.7008053221288515) 44%, rgba(212, 237, 251, 1) 100%);
}

.car__mirror {
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);
    height: 40px;
    width: 50px;
    border: 3px solid black;
    border-radius: 100% 0 100% 100%;
    transform: rotate(180deg) translate(37px, -100px);
    position: absolute;
    top: 13px;
    left: 0;
}

.car__side {
    width: 40px;
    height: 118px;
    border: black 3px solid;
    transform: translateX(470px) translateY(-565px);
    background: rgb(225, 163, 16);
    background: linear-gradient(325deg, rgba(225, 163, 16, 1) 0%, rgba(234, 217, 82, 1) 45%, rgba(251, 251, 212, 1) 100%);
    position: relative;
    bottom: -443px;
    left: 0;
}

.car-stop {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(255, 4, 4, 0.74);
    box-shadow: 0 30px 30px rgba(255, 0, 0, 0.74);
    position: relative;
    top: 395px;
    left: 577px;
}

@keyframes stop {

    0% {
        background: #111;
    }

    2%, 40% {
        background: #e70c0c;
    }

    42%, 100% {
        background: #111;
    }

}

.car-stop {
    animation: stop 12s linear infinite;
}

.car-set {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(255, 251, 2, 0.94);
    box-shadow: 0 30px 30px rgba(248, 255, 20, 0.74);
    position: relative;
    top: 400px;
    left: 575px;
}

@keyframes set {
    0%,
    20% {
        background: #111;
    }
    22%,
    40% {
        background: #FBC00C;
    }
    42%,
    80% {
        background: #111;
    }
    82%,
    100% {
        background: #FBC00C;
    }
}

.car-set {
    animation: set 12s linear infinite;
}

.car-go {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(7, 152, 7, 0.94);
    box-shadow: 0 30px 30px rgba(12, 182, 12, 0.74);
    position: relative;
    top: 405px;
    left: 575px;
}

@keyframes go {
    0%,
    40% {
        background: #111;
    }
    42%,
    80% {
        background: #1fbc1a;
    }
    82%,
    100% {
        background: #111;
    }
}

.car-go {
    animation: go 12s linear infinite;
}

.car-pedestrian__go {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(67, 255, 4, 0.74);
    box-shadow: 0 30px 30px rgba(62, 155, 5, 0.74);
    position: relative;
    top: 409px;
    left: 497px;
}

@keyframes green {

    0% {
        background: #111;
    }

    2%, 40% {
        background: #059309;
    }

    42%, 100% {
        background: #111;
    }

}

.car-pedestrian__go {
    animation: green 12s linear infinite;
}

.car-pedestrian__set {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(255, 251, 2, 0.94);
    box-shadow: 0 30px 30px rgba(248, 255, 20, 0.74);
    position: relative;
    top: 458px;
    left: 497px;
}

@keyframes yellow {
    0%,
    20% {
        background: #111;
    }
    22%,
    40% {
        background: #FBC00C;
    }
    42%,
    80% {
        background: #111;
    }
    82%,
    100% {
        background: #FBC00C;
    }
}

.car-pedestrian__set {
    animation: yellow 12s linear infinite;
}

.car-pedestrian__stop {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(152, 34, 7, 0.94);
    box-shadow: 0 30px 30px rgba(182, 52, 12, 0.74);
    position: relative;
    top: 507px;
    left: 497px;
}

@keyframes red {
    0%,
    40% {
        background: #111;
    }
    42%,
    80% {
        background: #ee0808;
    }
    82%,
    100% {
        background: #111;
    }
}

.car-pedestrian__stop {
    animation: red 12s linear infinite;
}

.button {
    position: relative;
    top: 780px;
    left: 900px;
}

.button-link {
    width: 400px;
    height: 300px;
    padding: 25px 35px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    background-color: lightcyan;
    border-radius: 10%;
    border: 2px #279b9a solid;
    text-align: center;
    box-shadow: 0 8px 10px rgba(27, 243, 210, 0.72);

}




